<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Home</ion-title>
  </ion-toolbar>
  <ion-toolbar>
    <ion-searchbar></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content
      pullingIcon="chevron-down-circle-outline"
      pullingText="Pull to refresh"
      refreshingSpinner="circles"
      refreshingText="Refreshing...">
    </ion-refresher-content>
  </ion-refresher>
  <ion-list>
    <!-- <ion-list-header>
      Plan Order
    </ion-list-header> -->

    <ion-item>
      <ion-avatar slot="start">
        <img src="assets/mold/s_mold.svg">
      </ion-avatar>
      <ion-label>
        <h3><b>CODE</b> : FG00001</h3>
        <h3><b>STATUS</b> : <span style="color:#FA016D">Process</span></h3>
        <h3><b>BARCODE</b> : xxxxxxx</h3>
        <ion-button color="primary">Search</ion-button>
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-avatar slot="start">
        <img src="assets/mold/r_mold.svg">
      </ion-avatar>
      <ion-label>
        <h3><b>CODE</b> : FG00002</h3>
        <h3><b>STATUS</b> : <span style="color:#FA016D">Process</span></h3>
        <h3><b>BARCODE</b> : xxxxxxx</h3>
        <ion-button color="primary">Search</ion-button>
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-avatar slot="start">
        <img src="assets/mold/r_mold.svg">
      </ion-avatar>
      <ion-label>
        <h3><b>CODE</b> : FG00003</h3>
        <h3><b>STATUS</b> : <span style="color:#49C628">Store</span></h3>
        <h3><b>BARCODE</b> : xxxxxxx</h3>
        <ion-button color="primary">Search</ion-button>
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-avatar slot="start">
        <img src="assets/mold/r_mold.svg">
      </ion-avatar>
      <ion-label>
        <h3><b>CODE</b> : FG00004</h3>
        <h3><b>STATUS</b> : <span style="color:#49C628">Store</span></h3>
        <h3><b>BARCODE</b> : xxxxxxx</h3>
        <ion-button color="danger">Cancel</ion-button>
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-avatar slot="start">
        <img src="assets/mold/g_mold.svg">
      </ion-avatar>
      <ion-label>
        <h3><b>CODE</b> : FG00005</h3>
        <h3><b>STATUS</b> : <span style="color:#FA016D">Injection</span></h3>
        <h3><b>BARCODE</b> : xxxxxxx</h3>
        <ion-button color="primary">Search</ion-button>
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-avatar slot="start">
        <img src="assets/mold/w_mold.svg">
      </ion-avatar>
      <ion-label>
        <h3><b>CODE</b> : FG00006</h3>
        <h3><b>STATUS</b> : <span style="color:#FA016D">Repair</span></h3>
        <h3><b>BARCODE</b> : xxxxxxx</h3>
        <ion-button color="primary">Search</ion-button>
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-avatar slot="start">
        <img src="assets/mold/y_mold.svg">
      </ion-avatar>
      <ion-label>
        <h3><b>CODE</b> : FG00007</h3>
        <h3><b>STATUS</b> : <span style="color:#FA016D">PM</span></h3>
        <h3><b>BARCODE</b> : xxxxxxx</h3>
        <ion-button color="primary">Search</ion-button>
      </ion-label>
    </ion-item>
  </ion-list> 
</ion-content>
