<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Home</ion-title>
  </ion-toolbar>
  <ion-toolbar>
    <ion-searchbar type="text" debounce="500" (ionInput)="getItems($event)"></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content
      pullingIcon="chevron-down-circle-outline"
      pullingText="Pull to refresh"
      refreshingSpinner="circles"
      refreshingText="Refreshing...">
    </ion-refresher-content>
  </ion-refresher>
  <ion-list >
    <ion-item *ngFor="let _dataMold of dataMold">
      <ion-avatar slot="start">
        <img [src]="_dataMold.ColorMold">
      </ion-avatar>
      <ion-label>
        <h3><b>CODE</b> : {{_dataMold.Code}}</h3>
        <h3 *ngIf="_dataMold.StatusId == 3" ><b>STATUS</b> : <span   style="color:#49C628">{{_dataMold.Status}}</span>
        </h3>
        <h3 *ngIf="_dataMold.StatusId != 3" ><b>STATUS</b> : <span   style="color:#FA016D">{{_dataMold.Status}}</span>
        </h3>
        <h3><b>BARCODE</b> : {{_dataMold.Barcode}}</h3>
        <ion-button *ngIf="_dataMold.IsSearch == 0"  color="primary" (click)='btnMoldSearch(_dataMold.Barcode)' [disabled]='btnDisable'>Search</ion-button>
        <ion-button *ngIf="_dataMold.IsSearch == 1" color="danger" (click)='btnMoldSearch(_dataMold.Barcode)'  [disabled]='btnDisable'>Cancel</ion-button>
      </ion-label>
    </ion-item>
  </ion-list> 
</ion-content>
<app-footer>

</app-footer>